{% extends 'layout.html' %}
{% block content %}
<div class="form-container">
    <h2 class="form-title">💸 Sell Medicine</h2>
    <form method="POST" class="stock-form">
        <select name="medicine_id" class="form-input">
            {% for m in medicines %}
                <option value="{{ m.id }}">{{ m.name }}</option>
            {% endfor %}
        </select>
        <input type="number" name="quantity" placeholder="🧮 Quantity" required class="form-input">
        <button type="submit" class="form-button">Sell</button>
    </form>
</div>
{% endblock %}
